In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc

In [2]:
data = pd.read_csv('./Data/CS_dataset.csv').copy()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
del data['specialty_subgroup']

In [5]:
data

,id,online_booking,delay_in_days,new_patient,is_relative,booking_device,organization_type,patient_appt_number,previous_noshow,patient_age_group,appt_duration,visit_motive_name,month,day,start,created,received_reminder_sms,zipcode,no_show
0,1,0,14,no,NaN,not declared,Solo practitioner,2,0,55-64,30,Consultation & suivi,2,2,09:30:00,09:16:17.043422,1,06600,0
1,2,0,20,no,NaN,not declared,Solo practitioner,4,0,NaN,30,Consultation & suivi,3,2,15:45:00,12:39:01.706144,1,06110,0
2,3,1,6,no,False,mobile,Solo practitioner,13,0,35-44,45,Consultation & suivi,9,5,14:15:00,08:24:48.307585,1,92100,0
3,4,0,12,no,NaN,not declared,Practice,1,0,NaN,30,Extraction & chirurgie,12,3,17:30:00,16:41:04.374814,0,59224,0
4,5,0,57,no,False,not declared,Solo practitioner,2,0,55-64,90,Extraction & chirurgie,1,5,09:00:00,11:58:47.087595,1,69680,0
5,6,0,1,no,NaN,not declared,Practice,1,0,35-44,45,Consultation & suivi,6,4,10:45:00,11:53:04.434134,0,94160,0
6,7,0,8,no,NaN,desktop,Solo practitioner,5,0,65+,15,Pose & prothèse,4,2,14:45:00,15:45:27.936706,1,69006,0
7,8,0,60,yes,NaN,not declared,Salaried establishment,1,0,18-24,30,Première consultation,4,5,12:30:00,15:21:02.145633,1,76600,1
8,9,1,5,yes,True,mobile,Salaried establishment,1,0,35-44,80,Première consultation,1,2,15:00:00,02:04:30.493677,1,94800,0
9,10,0,0,no,NaN,not declared,Salaried establishment,3,0,35-44,15,Urgence,4,4,09:45:00,09:37:08.13074,0,91000,0
10,11,0,7,no,NaN,not declared,Solo practitioner,11,0,NaN,30,Consultation & suivi,1,4,10:00:00,13:24:04.242153,1,75011,0
11,12,0,11,no,True,not declared,Salaried establishment,3,0,45-54,20,Extraction & chirurgie,9,1,10:20:00,15:24:50.317919,1,94270,0
12,13,0,28,no,NaN,not declared,Solo practitioner,25,0,NaN,15,Première consultation,3,5,13:15:00,12:16:45.771175,1,93300,0
13,14,1,4,yes,True,mobile,Practice,1,0,0-17,40,Consultation & suivi,8,3,13:10:00,15:10:21.648607,1,13011,0
14,15,1,1,yes,True,mobile,Salaried establishment,1,0,65+,30,Première consultation,10,4,16:00:00,17:01:56.033915,1,75019,0
15,16,0,8,no,NaN,not declared,Practice,2,0,55-64,30,Extraction & chirurgie,1,2,16:30:00,13:23:10.664431,1,92800,0
16,17,0,21,no,NaN,not declared,Practice,1,0,65+,30,Consultation & suivi,2,3,14:30:00,09:59:10.402908,0,74100,0
17,18,0,23,no,False,desktop,Solo practitioner,2,0,25-34,30,Consultation & suivi,5,3,18:00:00,17:30:59.002684,1,75014,0
18,19,0,47,yes,NaN,not declared,Practice,1,0,NaN,30,Consultation & suivi,5,3,18:30:00,10:06:58.51494,1,92200,0
19,20,0,11,no,False,not declared,Solo practitioner,6,0,45-54,30,Consultation & suivi,4,5,18:30:00,08:46:21.863367,1,13370,0
20,21,0,28,no,NaN,not declared,Practice,17,1,0-17,20,Consultation & suivi,11,4,18:40:00,19:20:06.545886,1,93380,0
21,22,0,16,no,False,not declared,Practice,2,0,25-34,30,Extraction & chirurgie,12,4,10:15:00,11:17:51.913382,1,21121,0
22,23,0,3,no,NaN,not declared,Practice,9,1,45-54,15,Consultation & suivi,11,1,17:45:00,12:52:47.13334,1,95210,0
23,24,0,35,no,NaN,not declared,Practice,2,0,NaN,30,Extraction & chirurgie,4,6,10:30:00,12:03:29.103913,1,57330,0
24,25,0,4,no,False,not declared,Practice,1,0,55-64,30,Consultation & suivi,1,2,14:00:00,15:25:06.458718,1,94300,0
25,26,1,4,yes,True,mobile,Practice,1,0,0-17,30,Consultation & suivi,11,3,15:30:00,17:19:32.237026,1,94510,0
26,27,0,22,yes,NaN,not declared,Solo practitioner,2,0,18-24,15,Soins légers,2,2,17:45:00,14:02:59.569508,0,35230,0
27,28,0,57,no,NaN,not declared,Practice,13,0,25-34,75,Consultation & suivi,4,2,17:45:00,18:53:27.676773,1,34230,0
28,29,0,0,no,NaN,not declared,Practice,17,0,55-64,10,Consultation & suivi,3,5,14:35:00,09:09:51.494519,1,75015,0
29,30,0,26,yes,NaN,not declared,Practice,1,0,NaN,30,Consultation & suivi,7,1,15:00:00,10:02:19.521505,1,59100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999970,9999971,0,0,yes,NaN,not declared,Practice,1,0,NaN,45,Première consultation,12,1,10:20:00,09:01:09.790054,0,34430,0
9999971,9999972,0,42,no,NaN,not declared,Practice,2,0,18-24,30,Autre,5,5,15:30:00,16:47:36.290134,1,83400,0
9999972,9999973,0,42,no,NaN,not declared,Practice,3,0,25-34,30,Extraction & chirurgie,5,2,17:00:00,17:25:40.089656,1,59253,0
9999973,9999974,0,28,no,NaN,desktop,Practice,2,0,NaN,45,Extraction & chirurgie,5,5,15:00:00,11:18:52.234465,1,33600,0
9999974,9999975,0,10,no,NaN,not declared,Practice,2,1,55-64,30,Consultation & suivi,3,4,14:30:00,14:24:21.450277,1,13290,1
9999975,9999976,0,0,no,NaN,not declared,Salaried establishment,7,0,0-17,30,Urgence,1,3,14:00:00,14:06:35.292364,0,93100,0
9999976,9999977,0,45,no,NaN,not declared,Solo practitioner,10,0,55-64,20,Autre,6,5,14:20:00,16:46:47.827697,1,78711,0
9999977,9999978,0,20,not declared,NaN,not declared,Solo practitioner,1,0,NaN,60,Extraction & chirurgie,3,1,13:00:00,13:07:28.942466,1,75016,0
9999978,9999979,0,98,yes,NaN,not declared,Practice,1,0,25-34,20,Première consultation,1,1,14:00:00,11:35:21.156216,1,35510,0
9999979,9999980,0,16,no,NaN,not declared,Practice,1,0,0-17,15,Première consultation,11,5,14:00:00,14:56:22.880782,1,93330,0
9999980,9999981,1,7,yes,False,mobile,Salaried establishment,1,0,25-34,15,Première consultation,5,2,11:45:00,07:28:55.142279,1,95170,0
9999981,9999982,0,17,no,NaN,not declared,Salaried establishment,9,1,45-54,30,Consultation & suivi,3,5,14:00:00,12:03:37.61003,1,75019,0
9999982,9999983,0,14,no,NaN,desktop,Salaried establishment,1,0,0-17,30,Consultation & suivi,5,2,09:30:00,10:09:32.196679,1,75020,0
9999983,9999984,0,35,no,NaN,desktop,Practice,11,0,35-44,30,Soins légers,5,2,11:15:00,09:09:22.339159,1,67350,0
9999984,9999985,0,27,no,NaN,not declared,Practice,4,0,45-54,30,Pose & prothèse,3,3,17:30:00,19:18:56.789882,1,93700,0
9999985,9999986,0,1,no,False,not declared,Practice,1,0,25-34,15,Consultation & suivi,10,3,08:45:00,13:59:28.779452,1,67500,0
9999986,9999987,0,13,no,False,not declared,Solo practitioner,3,0,25-34,30,Consultation & suivi,4,1,17:30:00,18:48:02.429847,0,94000,0
9999987,9999988,0,42,no,NaN,not declared,Practice,1,0,NaN,30,Soins légers,6,1,14:30:00,09:09:07.543209,0,59126,0
9999988,9999989,0,24,no,NaN,not declared,Solo practitioner,2,0,NaN,30,Soins légers,2,4,09:00:00,18:46:02.458673,1,64000,0
9999989,9999990,0,29,no,NaN,not declared,Practice,1,0,NaN,40,Soins légers,1,6,09:20:00,11:12:31.908189,1,57230,0
9999990,9999991,0,1,yes,NaN,not declared,Solo practitioner,1,0,NaN,30,Consultation & suivi,11,4,11:00:00,17:18:06.986595,0,33400,0
9999991,9999992,1,2,yes,False,desktop,Solo practitioner,1,0,25-34,30,Première consultation,6,4,14:30:00,16:06:26.536226,1,93110,0
9999992,9999993,0,29,no,NaN,not declared,Solo practitioner,3,0,45-54,30,Première consultation,12,6,10:00:00,17:43:19.226726,1,57100,0
9999993,9999994,0,7,no,False,not declared,Solo practitioner,2,0,25-34,30,Soins légers,2,2,15:30:00,18:03:14.671589,1,78400,0
9999994,9999995,0,27,no,False,not declared,Practice,1,0,45-54,45,Extraction & chirurgie,11,2,17:30:00,17:27:58.387382,1,94130,0
9999995,9999996,0,42,no,NaN,not declared,Practice,4,1,35-44,30,Extraction & chirurgie,1,3,10:00:00,10:22:15.385789,1,59840,0
9999996,9999997,0,6,no,NaN,not declared,Practice,6,0,NaN,30,Consultation & suivi,1,4,14:00:00,15:44:20.974354,1,83480,0
9999997,9999998,1,8,yes,False,mobile,Solo practitioner,1,0,25-34,20,Première consultation,12,4,12:25:00,00:35:49.906781,1,91100,0
9999998,9999999,0,1,no,NaN,not declared,Salaried establishment,1,0,55-64,20,Extraction & chirurgie,10,3,11:00:00,16:21:26.325042,1,92110,0
9999999,10000000,0,11,no,NaN,not declared,Solo practitioner,14,0,65+,30,Extraction & chirurgie,4,2,17:00:00,16:38:52.673411,1,33640,0

In [6]:
new_patient_class = list(data['organization_type'].value_counts().keys())
new_patient_class

['Practice',
 'Solo practitioner',
 'Salaried establishment',
 'Self-employed establishment',
 'Radiology']

## Let's encode the columns that are not numeric

In [7]:
new_patient_dummy = pd.get_dummies(data['new_patient'], prefix=['new_patient']).copy()

In [8]:
### The missing data isn't taken into account (NaN). Should we add it anyways ?
is_relative_dummy =  pd.get_dummies(data['is_relative'], prefix=['is_relative']).copy()

In [9]:
booking_device_dummy = pd.get_dummies(data['booking_device'], prefix=['booking_device']).copy()

In [10]:
organization_type_dummy = pd.get_dummies(data['organization_type'], prefix=['organization_type']).copy()

In [11]:
patient_age_group_dummy = pd.get_dummies(data['patient_age_group'], prefix=['patient_age_group']).copy()

In [12]:
visit_motive_name_dummy = pd.get_dummies(data['visit_motive_name'], prefix=['visit_motive_name']).copy()

In [13]:
month_dummy =  pd.get_dummies(data['month'], prefix=['month']).copy()

In [14]:
day_dummy = pd.get_dummies(data['day'], prefix=['day']).copy()

Now we drop these columns

In [15]:
data.drop(['new_patient', 'is_relative', 'booking_device', 'organization_type', 'patient_age_group', 'visit_motive_name', 'month', 'day'], axis=1, inplace = True)

And we concatenate them all

In [17]:
bucketized_df = pd.concat([data, patient_age_group_dummy, visit_motive_name_dummy,organization_type_dummy,booking_device_dummy, is_relative_dummy,new_patient_dummy, month_dummy, day_dummy], axis=1)

In [18]:
bucketized_df

,id,online_booking,delay_in_days,patient_appt_number,previous_noshow,appt_duration,start,created,received_reminder_sms,zipcode,...,['month']_10,['month']_11,['month']_12,['day']_0,['day']_1,['day']_2,['day']_3,['day']_4,['day']_5,['day']_6
0,1,0,14,2,0,30,09:30:00,09:16:17.043422,1,06600,...,0,0,0,0,0,1,0,0,0,0
1,2,0,20,4,0,30,15:45:00,12:39:01.706144,1,06110,...,0,0,0,0,0,1,0,0,0,0
2,3,1,6,13,0,45,14:15:00,08:24:48.307585,1,92100,...,0,0,0,0,0,0,0,0,1,0
3,4,0,12,1,0,30,17:30:00,16:41:04.374814,0,59224,...,0,0,1,0,0,0,1,0,0,0
4,5,0,57,2,0,90,09:00:00,11:58:47.087595,1,69680,...,0,0,0,0,0,0,0,0,1,0
5,6,0,1,1,0,45,10:45:00,11:53:04.434134,0,94160,...,0,0,0,0,0,0,0,1,0,0
6,7,0,8,5,0,15,14:45:00,15:45:27.936706,1,69006,...,0,0,0,0,0,1,0,0,0,0
7,8,0,60,1,0,30,12:30:00,15:21:02.145633,1,76600,...,0,0,0,0,0,0,0,0,1,0
8,9,1,5,1,0,80,15:00:00,02:04:30.493677,1,94800,...,0,0,0,0,0,1,0,0,0,0
9,10,0,0,3,0,15,09:45:00,09:37:08.13074,0,91000,...,0,0,0,0,0,0,0,1,0,0
10,11,0,7,11,0,30,10:00:00,13:24:04.242153,1,75011,...,0,0,0,0,0,0,0,1,0,0
11,12,0,11,3,0,20,10:20:00,15:24:50.317919,1,94270,...,0,0,0,0,1,0,0,0,0,0
12,13,0,28,25,0,15,13:15:00,12:16:45.771175,1,93300,...,0,0,0,0,0,0,0,0,1,0
13,14,1,4,1,0,40,13:10:00,15:10:21.648607,1,13011,...,0,0,0,0,0,0,1,0,0,0
14,15,1,1,1,0,30,16:00:00,17:01:56.033915,1,75019,...,1,0,0,0,0,0,0,1,0,0
15,16,0,8,2,0,30,16:30:00,13:23:10.664431,1,92800,...,0,0,0,0,0,1,0,0,0,0
16,17,0,21,1,0,30,14:30:00,09:59:10.402908,0,74100,...,0,0,0,0,0,0,1,0,0,0
17,18,0,23,2,0,30,18:00:00,17:30:59.002684,1,75014,...,0,0,0,0,0,0,1,0,0,0
18,19,0,47,1,0,30,18:30:00,10:06:58.51494,1,92200,...,0,0,0,0,0,0,1,0,0,0
19,20,0,11,6,0,30,18:30:00,08:46:21.863367,1,13370,...,0,0,0,0,0,0,0,0,1,0
20,21,0,28,17,1,20,18:40:00,19:20:06.545886,1,93380,...,0,1,0,0,0,0,0,1,0,0
21,22,0,16,2,0,30,10:15:00,11:17:51.913382,1,21121,...,0,0,1,0,0,0,0,1,0,0
22,23,0,3,9,1,15,17:45:00,12:52:47.13334,1,95210,...,0,1,0,0,1,0,0,0,0,0
23,24,0,35,2,0,30,10:30:00,12:03:29.103913,1,57330,...,0,0,0,0,0,0,0,0,0,1
24,25,0,4,1,0,30,14:00:00,15:25:06.458718,1,94300,...,0,0,0,0,0,1,0,0,0,0
25,26,1,4,1,0,30,15:30:00,17:19:32.237026,1,94510,...,0,1,0,0,0,0,1,0,0,0
26,27,0,22,2,0,15,17:45:00,14:02:59.569508,0,35230,...,0,0,0,0,0,1,0,0,0,0
27,28,0,57,13,0,75,17:45:00,18:53:27.676773,1,34230,...,0,0,0,0,0,1,0,0,0,0
28,29,0,0,17,0,10,14:35:00,09:09:51.494519,1,75015,...,0,0,0,0,0,0,0,0,1,0
29,30,0,26,1,0,30,15:00:00,10:02:19.521505,1,59100,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999970,9999971,0,0,1,0,45,10:20:00,09:01:09.790054,0,34430,...,0,0,1,0,1,0,0,0,0,0
9999971,9999972,0,42,2,0,30,15:30:00,16:47:36.290134,1,83400,...,0,0,0,0,0,0,0,0,1,0
9999972,9999973,0,42,3,0,30,17:00:00,17:25:40.089656,1,59253,...,0,0,0,0,0,1,0,0,0,0
9999973,9999974,0,28,2,0,45,15:00:00,11:18:52.234465,1,33600,...,0,0,0,0,0,0,0,0,1,0
9999974,9999975,0,10,2,1,30,14:30:00,14:24:21.450277,1,13290,...,0,0,0,0,0,0,0,1,0,0
9999975,9999976,0,0,7,0,30,14:00:00,14:06:35.292364,0,93100,...,0,0,0,0,0,0,1,0,0,0
9999976,9999977,0,45,10,0,20,14:20:00,16:46:47.827697,1,78711,...,0,0,0,0,0,0,0,0,1,0
9999977,9999978,0,20,1,0,60,13:00:00,13:07:28.942466,1,75016,...,0,0,0,0,1,0,0,0,0,0
9999978,9999979,0,98,1,0,20,14:00:00,11:35:21.156216,1,35510,...,0,0,0,0,1,0,0,0,0,0
9999979,9999980,0,16,1,0,15,14:00:00,14:56:22.880782,1,93330,...,0,1,0,0,0,0,0,0,1,0
9999980,9999981,1,7,1,0,15,11:45:00,07:28:55.142279,1,95170,...,0,0,0,0,0,1,0,0,0,0
9999981,9999982,0,17,9,1,30,14:00:00,12:03:37.61003,1,75019,...,0,0,0,0,0,0,0,0,1,0
9999982,9999983,0,14,1,0,30,09:30:00,10:09:32.196679,1,75020,...,0,0,0,0,0,1,0,0,0,0
9999983,9999984,0,35,11,0,30,11:15:00,09:09:22.339159,1,67350,...,0,0,0,0,0,1,0,0,0,0
9999984,9999985,0,27,4,0,30,17:30:00,19:18:56.789882,1,93700,...,0,0,0,0,0,0,1,0,0,0
9999985,9999986,0,1,1,0,15,08:45:00,13:59:28.779452,1,67500,...,1,0,0,0,0,0,1,0,0,0
9999986,9999987,0,13,3,0,30,17:30:00,18:48:02.429847,0,94000,...,0,0,0,0,1,0,0,0,0,0
9999987,9999988,0,42,1,0,30,14:30:00,09:09:07.543209,0,59126,...,0,0,0,0,1,0,0,0,0,0
9999988,9999989,0,24,2,0,30,09:00:00,18:46:02.458673,1,64000,...,0,0,0,0,0,0,0,1,0,0
9999989,9999990,0,29,1,0,40,09:20:00,11:12:31.908189,1,57230,...,0,0,0,0,0,0,0,0,0,1
9999990,9999991,0,1,1,0,30,11:00:00,17:18:06.986595,0,33400,...,0,1,0,0,0,0,0,1,0,0
9999991,9999992,1,2,1,0,30,14:30:00,16:06:26.536226,1,93110,...,0,0,0,0,0,0,0,1,0,0
9999992,9999993,0,29,3,0,30,10:00:00,17:43:19.226726,1,57100,...,0,0,1,0,0,0,0,0,0,1
9999993,9999994,0,7,2,0,30,15:30:00,18:03:14.671589,1,78400,...,0,0,0,0,0,1,0,0,0,0
9999994,9999995,0,27,1,0,45,17:30:00,17:27:58.387382,1,94130,...,0,1,0,0,0,1,0,0,0,0
9999995,9999996,0,42,4,1,30,10:00:00,10:22:15.385789,1,59840,...,0,0,0,0,0,0,1,0,0,0
9999996,9999997,0,6,6,0,30,14:00:00,15:44:20.974354,1,83480,...,0,0,0,0,0,0,0,1,0,0
9999997,9999998,1,8,1,0,20,12:25:00,00:35:49.906781,1,91100,...,0,0,1,0,0,0,0,1,0,0
9999998,9999999,0,1,1,0,20,11:00:00,16:21:26.325042,1,92110,...,1,0,0,0,0,0,1,0,0,0
9999999,10000000,0,11,14,0,30,17:00:00,16:38:52.673411,1,33640,...,0,0,0,0,0,1,0,0,0,0

And save them to a CSV file

In [19]:
bucketized_df.to_csv('encoded_data')

In [24]:
list(bucketized_df.columns)

['id',
 'online_booking',
 'delay_in_days',
 'patient_appt_number',
 'previous_noshow',
 'appt_duration',
 'start',
 'created',
 'received_reminder_sms',
 'zipcode',
 'no_show',
 "['patient_age_group']_0-17",
 "['patient_age_group']_18-24",
 "['patient_age_group']_25-34",
 "['patient_age_group']_35-44",
 "['patient_age_group']_45-54",
 "['patient_age_group']_55-64",
 "['patient_age_group']_65+",
 "['visit_motive_name']_Autre",
 "['visit_motive_name']_Bilan",
 "['visit_motive_name']_Consultation & suivi",
 "['visit_motive_name']_Extraction & chirurgie",
 "['visit_motive_name']_Orthodonthie",
 "['visit_motive_name']_Pose & prothèse",
 "['visit_motive_name']_Première consultation",
 "['visit_motive_name']_Soins légers",
 "['visit_motive_name']_Urgence",
 "['organization_type']_Practice",
 "['organization_type']_Radiology",
 "['organization_type']_Salaried establishment",
 "['organization_type']_Self-employed establishment",
 "['organization_type']_Solo practitioner",
 "['booking_device']_desktop",
 "['booking_device']_mobile",
 "['booking_device']_not declared",
 "['is_relative']_False",
 "['is_relative']_True",
 "['new_patient']_no",
 "['new_patient']_not declared",
 "['new_patient']_yes",
 "['month']_1",
 "['month']_2",
 "['month']_3",
 "['month']_4",
 "['month']_5",
 "['month']_6",
 "['month']_7",
 "['month']_8",
 "['month']_9",
 "['month']_10",
 "['month']_11",
 "['month']_12",
 "['day']_0",
 "['day']_1",
 "['day']_2",
 "['day']_3",
 "['day']_4",
 "['day']_5",
 "['day']_6"]